@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
  }

  .player-info,
  .card {
    margin-bottom: 2rem;
    font-size: x-large;
    width: auto;
  }

  .player-list {
    order: 2;
  }

  .playing-field {
    order: 1;
  }

  .rules {
    order: 3;
  }

  .player-list,
  .rules {
    max-width: 100%;
  }
}

@media screen and (max-width: 1260px) {
  .main {
    flex-direction: column;
  }
  .player-list {
    order: 2;
  }

  .playing-field {
    order: 1;
  }

  .rules {
    order: 3;
  }
  .player-list,
  .rules {
    max-width: 100%;
  }
}
