@media screen and (max-width: 900px) and (device-max-width: 900px) {
  .main {
    flex-direction: column;
  }

  .player-info,
  .card {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .player-list {
    order: 2;
  }

  .playing-field {
    order: 1;
  }

  .rules {
    order: 3;
  }

  .player-list,
  .rules {
    max-width: 100%;
  }
}

@media screen and (max-width: 1260px) {
  .main {
    flex-direction: column;
  }
  .player-list {
    order: 2;
  }

  .playing-field {
    order: 1;
  }

  .rules {
    order: 3;
  }
  .player-list,
  .rules {
    max-width: 100%;
  }
}
